*{
  margin: 0px;
}
.App{
    background-color: #fafafa;
}
.app__header{
  object-fit: contain;
  background-color: white;
  padding:5px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0%;
  z-index: 1;
}
.app__register{
     display: flex;
     flex-direction: column;
}
.app__headerimage{
  object-fit: contain;
  text-align: left;
}
.app__post{
  padding: 10px;
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: center; */
}
/* .app__postright{
  margin-left:20px;
} */