.Post__image{
    width: 100%;
    object-fit: contain;
    border-bottom: 1px solid lightgrey;
    border-top: 1px solid lightgrey;

}
.post__text{
    font-weight: normal;
    padding:20px;  
    padding-bottom: 5px;
}
.post__header{
    display: flex;
    align-items: center;
    padding:20px;  
}
.post__avatar{
    margin-right: 10px;
}
.post{
    max-width: 600px;
    background-color: white;
    border: 1px solid lightgrey;
    margin-bottom: 45px;
}
.post__comment{
    display: flex;
}
.post__commentbox{
    flex: 1;
    border: none;
    padding:10px;
    border-top: 1px solid lightgrey;
}
.postcomment__button{
    flex: 0;
    color: blue !important;
    border-top: 1px solid lightgrey !important;
    background-color: transparent !important;
}
.post__comment{
    padding: 20px;
}
.post__commentView{
    padding: 20px;
}